@model List<PhamTrongTruong_5951071113.Models.KhoCauHoi>


@{
    ViewBag.Title = "Dscauhoi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid ">

    <div class="card mb-4">
        <div class="row" style="padding:10px; ">
            <div class="col-sm-12 col-md-6">
              
                Danh sách câu hỏi
            </div>
            <div class="col-sm-12 col-md-6">
                <a href="/Admin/Admin/Taocauhoi" class="btn btn-primary" style="float:right">
                    <span>Thêm câu hỏi </span>
                </a>
            </div>
        </div>
        <div style="width:auto; height:3px; background-color:rgb(248,249,250);"></div>
        <div class="card-body">
            <div class="">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                                <thead>
                                    <tr>
                                        <th>Mã Câu </th>
                                        <th style="width:75%;">Nội Dung</th>
                                        <th>Mực độ </th>

                                        <th style="width:10%;margin-top:30%"></th>

                                    </tr>
                                </thead>

                                <tbody id="bodeid">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @item.Ma_CH</td>
                                            <td>  @item.NoiDung </td>
                                            <td> @item.MucDọ</td>
                                            <td class="text-center">

                                                <button name="btnSua" class="btn btn-xs btn-success"><i class="far fa-edit" aria-hidden="true" style="color:white"></i></button>

                                                <button name="Delete" class="btn btn-xs btn-danger"><i class="far fa-trash-alt" aria-hidden="true"></i></button>
                                            </td>

                                        </tr>

                                    }

                                </tbody>
                            </table>
                           
                                <input id="mabai" value="@ViewBag.ma" hidden />
                            

                        </div>

                    </div>
                </div>
             
                <div id="frmCauhoi">
                 

                </div>
           
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var arr = [];
        $(document).ready(function () {
            var mabai = $('#mabai').val();
            $('#frmCauhoi').hide();
            $.ajax({
                url: '/Admin/Admin/LoadCH', type: 'post',
                data: {
                    Mabai: mabai,

                },
                success: function (data) {
                    arr = data.CH;

                }
            });

            $(document).on('click', 'button[name=btnSua]', function () {



                let ma = $(this).closest('tr').find("td:eq(0)").text().trim();

                for (var i = 0; i < arr.length; i++) {

                    if (arr[i].Ma_CH == ma) {
                        $('#dataTable_wrapper').hide();
                        $('#frmCauhoi').empty();
                        var let = `<div class=" frmCH" id="` + arr[i].Ma_CH + `" >
                <div class="container">
                    <div class="row col-12">
                        <div class="form-outline card-body col-8">
                            <label class="form-label" for="textAreaExample3">Nhập nội dung câu hỏi </label>`;
                        if (arr[i].MucDọ == 1) {
                            let += `<textarea class="form-control col-12 txtCH" id = "` + arr[i].Ma_CH + `" rows = "2" >$c$1` + arr[i].NoiDung + `</textarea >`;
                        }
                        else if (arr[i].MucDọ == 2) {
                            let += `<textarea class="form-control col-12 txtCH" id = "` + arr[i].Ma_CH + `" rows = "2" >$c$2` + arr[i].NoiDung + `</textarea >`
                        }
                        else if (arr[i].MucDọ == 3) {
                            let += `<textarea class="form-control col-12 txtCH" id = "` + arr[i].Ma_CH + `" rows = "2" >$c$3` + arr[i].NoiDung + `</textarea >`
                        }
                        else if (arr[i].MucDọ == 4) {
                            let += `<textarea class="form-control col-12 txtCH" id = "` + arr[i].Ma_CH + `" rows = "2" >$c$4` + arr[i].NoiDung + `</textarea >`
                        }

                        let += `</div>
                        <div class="text-center" style="margin-top:5%">   <button class="file-upload-btn btn-primary btn" type="button" onclick="$('.`+ arr[i].Ma_CH + `').trigger( 'click' )"><i class="bi bi-plus-circle"></i>
</button> </div>
                    </div>
                    <input class="`+ arr[i].Ma_CH + `" id="` + arr[i].Ma_CH + `" hidden type='file' onchange="readURL(this);" accept="image/*" />
                    <div class=" row file-upload-content" name=btnanh id="`+ arr[i].Ma_CH + `" style="margin-top:-2%">`;
                        if (arr[i].HinhAnh.length>0) {
                            let += `<div class="col-auto">
      <input class="txtlinkHinh" value="`+ arr[i].HinhAnh + `" id="` + arr[i].Ma_CH + `" hidden />
                        <img class="file-upload-image" id="`+ arr[i].Ma_CH + `"  src="` + arr[i].HinhAnh + `" alt="your image" />
                    </div>
                    <i class="col-auto bi bi-x-circle-fill remove-image " onclick="removeUpload(this)"   id="`+ arr[i].HinhAnh + `" style="margin-left:-4.2% ;margin-top:5px; font-size: 2rem; color: #ff0000" ></i>`;
                        }


                        let += `</div>
                </div>`;
                        for (var j = 0; j < arr[i].D_AN.length; j++) {

                            let += `<div class="container ">
                            <div class="row col-11">
                                <div class="form-outline card-body col-7">

                                <label class="form-label" for="textAreaExample3" >Nội dung đáp án thứ ` + (j + 1) + ` </label>`

                            if (arr[i].D_AN[j].TrangThai == true) {
                                let += `<textarea class="form-control col-12 txtdan" id="` + arr[i].D_AN[j].Ma_Dan + `" rows="1">$*$`+arr[i].D_AN[j].NoiDung + `</textarea>`;
                            }
                            else {
                                let += `<textarea class="form-control col-12 txtdan" id="` + arr[i].D_AN[j].Ma_Dan + `" rows="1">` + arr[i].D_AN[j].NoiDung + `</textarea>`;
                            }




                          
                            let += `</div>
                            <div class="text-center" style="margin-top:4%">   <button class="file-upload-btn btn-primary btn" type="button" onclick="$('.`+ arr[i].D_AN[j].Ma_Dan + `').trigger( 'click' )"><i class="bi bi-plus-circle"></i>
</button> </div>
                        </div>

                        <input class="`+ arr[i].D_AN[j].Ma_Dan + `" id="` + arr[i].D_AN[j].Ma_Dan + `" hidden type='file' onchange="readURL(this);" accept="image/*" />
                        <div class=" card-body row file-upload-content" id="`+ arr[i].D_AN[j].Ma_Dan + `" name=btnanh style="margin-top:-2%">`;

                            if (arr[i].D_AN[j].HinhAnh.length>0)
                            {
                                
                                 let += `<div class="col-auto">
      <input class="txtlinkHinh" value="`+ arr[i].D_AN[j].HinhAnh + `" id="` + arr[i].D_AN[j].Ma_Dan + `" hidden />
                        <img class="file-upload-image" id="`+ arr[i].D_AN[j].Ma_Dan + `"  src="` + arr[i].D_AN[j].HinhAnh + `" alt="your image" />
                    </div>
                    <i class="col-auto bi bi-x-circle-fill remove-image " onclick="removeUpload(this)"   id="`+ arr[i].D_AN[j].Ma_Dan + `" style="margin-left:-4.2% ;margin-top:5px; font-size: 2rem; color: #ff0000" ></i>`;
                            }

                            let+=  `</div>
                    </div>`
                        }
                        //  let += '</div >';

                        let += '</div>';

                        let += `<div class="card-body container col-10">
    <div class=" row">
        <button class=" btn btn-success" onclick="Save()">Lưu</button>
        <button class="btnclose btn btn-dark" onclick="Close()"> Đóng </button>
    </div>

</div>`
                        $('#frmCauhoi').append(let);
                        $('#frmCauhoi').slideDown();
                    }
                }





            });

            $(document).on('click', 'button[name=Delete]', function () {
                let ma = $(this).closest('tr').find("td:eq(0)").text().trim();

                $('#Mabai').val(ma)

                $('#modalConfirm').slideDown();

            });
            $('#btnYes').click(function () {

                let mabai = $('#Mabai').val();;


                $('#modalConfirm').modal('hide');
                $.ajax({
                    url: '/Admin/Admin/Deletebai', type: 'post',
                    data: {
                        Mabai: mabai,

                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            window.location = "/Admin/Admin/baihoc"
                        } else {
                            alert(data.msg);

                        }
                    }
                });

            });



            $('#btnSave').click(function () {





            });
        });
        function Close() {

            $('#frmCauhoi').hide();
            $('#dataTable_wrapper').slideDown();
        }
        function Save() {

                var CH = [];
                var dem = -1;
                var classch = $('.txtCH');
                $.each(classch, function (k, v) {
                    if ($(this).text().trim().length > 0) {
                       
                        CH.push({
                            Ma_CH: classch[k].id,
                            NoiDung: $(this).val().trim(),
                            HinhAnh: "",
                            MucDọ: 1,
                            D_An: [],
                        });
                        var da = $('.txtdan');
                        var n = 0;


                        while (n < 4) {
                            var anhdapan = "";

                            dem++;
                            n++;
                            var img = $('.txtlinkHinh');
                            $.each(img, function (a, b) {

                                if (b.id == da[dem].id) {
                                    anhdapan = $(this).val();

                                }
                            })

                            CH[k].D_An.push({
                                Ma_Dan: da[dem].id,
                                NoiDung: $(da[dem]).val().trim(),
                                HinhAnh: anhdapan,
                            });

                        }
                        var img = $('.txtlinkHinh');
                        $.each(img, function (a, b) {

                            if (b.id == v.id) {

                                CH[k].HinhAnh = $(this).val();
                            }
                        })

                    }

                })
                console.log(CH)
                if (CH.length > 0) {
                    $.ajax({
                        type: 'Post',
                        data: 'json',
                        url: '/Admin/Admin/UpdateCH',
                        data: { listCH: JSON.stringify(CH)},
                        success: function (data) {
                            alert(data.statust);
                            window.location = "/Admin/Admin/Dscauhoi/" + $('#mabai').val();
                        }
                    });
                }


            //})

        }

        function readURL(input) {

            if (input.files && input.files[0]) {


                var img = $('.file-upload-content');
                $.each(img, function (k, v) {
                    if (v.id == input.id) {
                        $(this).empty();
                        var formdata = new FormData();
                        formdata.append('file', input.files[0]);
                        var let = "";
                        $.ajax({
                            type: 'POST',
                            url: '/Admin/Admin/Saveanh',
                            contentType: false, //Khong co hear
                            processData: false,//Khong Xu Ly Du Lieu
                            data: formdata,
                            success: function (data) {
                                var let = `<div class="col-auto">
      <input class="txtlinkHinh" value="`+ data.path + `" id="` + v.id + `" hidden />
                        <img class="file-upload-image" id="`+ v.id + `"  src="` + data.path + `" alt="your image" />
                    </div>
                    <i class="col-auto bi bi-x-circle-fill remove-image " onclick="removeUpload(this)"   id="`+ v.id + `" style="margin-left:-4.2% ;margin-top:5px; font-size: 2rem; color: #ff0000" ></i>`;
                                $(v).append(let);
                                $(v).show();
                                $(input).val("");
                            }
                        });


                    }
                })

            };
        }

        function removeUpload(anh) {

            var hinh = $('.file-upload-content');
            $.each(hinh, function (k, v) {
                if (v.id == anh.id) {
                    $(v).empty();
                    $(v).hide();

                }
            })

        }

        function removeUploadfrm(anh) {

            var hinh = $('.frmCH');

            $.each(hinh, function (k, v) {
                if (v.id == anh.id) {
                    $(this).empty();
                    $(this).hide();
                }
            })

        }

        $('#btnNhan').click(function () {
            if ($('#txtFile').val().length > 0) {
                if (window.FormData !== undefined) {
                    var fileupload = $('#txtFile').get(0);
                    var file = fileupload.files;
                    var formdata = new FormData();
                    formdata.append('file', file[0]);

                    $.ajax({
                        type: 'POST',
                        url: '/Admin/Admin/XuLyFile ',
                        contentType: false, //Khong co hear
                        processData: false,//Khong Xu Ly Du Lieu
                        data: formdata,
                        success: function (urlImage) {
                            if (urlImage.status == true) {
                                window.location = "/Admin/Admin/Taocauhoi";
                            }
                            else {
                                alert("Sai Định Dạng Vui Lòng Kiểm Trả Lại");
                            }

                        }
                    });
                }
            } else {
                alert("Vui lòng chọn file");
            }
        });


    </script>
}
