@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //  Layout=null;
}

 <div class="container container-fluid">


        <div class="header-title text-center text-black-50 text-info text-gray-900"> <h2> Giới thiệu</h2> </div>

        <ul>
            <li>
                Hệ thống hỗ trợ đánh giá kiến thức môn vật lý bằng hình thức trắc nghiệm giúp các em học sinh có một cái nhìn tổng quan về năng lực của bản thân đối với môn học này. Từ đó định hướng được hướng đi đúng đắn giúp bản thân ngày càng học tốt hơn trong môn học này.
                <br />
            </li>

            <li>

                Hệ thống bao gồm 4 chức năng chính :
                <ul>
                    <li>   - Học  bài</li>
                    <li>    - Tạo đề kiểm tra </li>
                    <li>  - Đánh giá năng lực qua 1 bài kiểm tra </li>
                    <li>     - Đánh giá, đưa ra nhận xét sau một thời gian làm bài kiểm tra </li>
                </ul>



            </li>

        </ul>






    </div>